# Object files
*.o
*.ko
*.obj
*.elf
dlls
obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex
RemoteLogMaintenance/bin/Debug/RemoteLogMaintenance.exe.config
RemoteLogMaintenance.v12.suo
RemoteLogMaintenance/bin/Debug/RemoteLogMaintenance.pdb
RemoteLogMaintenance/bin/Debug/RemoteLogMaintenance.vshost.exe
RemoteLogMaintenance/bin/Debug/RemoteLogMaintenance.vshost.exe.config
RemoteLogMaintenance/bin/Debug/RemoteLogMaintenance.vshost.exe.manifest
RemoteLogMaintenance.v12.suo
RemoteLogMaintenance.v12.suo
